@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box2;
}

:root {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
}
