@mixin text-container-styles(
	$subtitleSize,
	$titleSize,
	$textSize,
	$subTitleColor,
	$titleColor
) {
	.container {
		grid-area: text;

		.subtitle {
			color: $textColor;
			text-transform: uppercase;
			font-size: $subtitleSize;
			letter-spacing: 2px;
			font-weight: 500;
			margin-bottom: 1rem;
		}

		.title {
			color: $mainColor;
			font-family: "Source Serif Pro";
			font-size: $titleSize;
			margin-bottom: 1rem;
		}

		.text {
			color: $textColor;
			letter-spacing: 2px;
			line-height: 1.7rem;
			font-size: $textSize;
			margin-bottom: 1.5rem;
		}
	}
}

button {
	font-family: inherit;
	padding: 0.75rem 2rem;
	font-size: 0.9rem;
	font-weight: 500;
	border: none;
	border-radius: 10px;
	transition: all 250ms;
}

button.light {
	color: $mainColor;
	background-color: white;

	&:hover {
		color: white;
		background-color: $mainColor;
		font-weight: 700;
	}
}

button.dark {
	color: white;
	background-color: $mainColor;

	&:hover {
		background-color: #dddddd;
		color: $mainColor;
		font-weight: 700;
	}
}
